<article ng-init="ctrl.initialize()">
    <div class="panel panel-default panel-ps dataTables_wrapper ">
        <div class="panel-heading">
            <h3 class="panel-title">{{'searches.schedulesTitle'|translate}}</h3>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading clearfix">
                <div class="col-sm-4 little-margin-bottom">
                    <label class="control-label" for="search">{{'searches.seasson'|translate}}</label>
                    <select class="form-control"
                            id="search"
                            type="text"
                            ng-model="ctrl.search.IdPeriodo"
                            ng-options="item.Valor as item.Descripcion for item in ctrl.seasons"
                            ng-change="ctrl.submit()" />
                </div>
                <div class="col-sm-12">
                    <label class="control-label">{{'searches.schedulesParameter'|translate}}</label>
                    <div class="col-sm-12 little-margin-bottom">
                        <button class="btn btn-info"
                                ng-click="ctrl.addParameter()">
                            {{'searches.schedulesAddParameter'|translate}} <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </div>
                    <div class="col-sm-3 little-margin-bottom"
                         ng-repeat="item in ctrl.parameters">
                        <div class="input-group">
                            <input class="form-control"
                                   id="search"
                                   type="text"
                                   placeholder="{{'searches.schedulesParameter'|translate}}"
                                   ng-model="ctrl.paramsString[$index]"
                                   ng-blur="ctrl.verifyIfEmpty($index)" />
                            <span class="input-group-addon"
                                  ng-click="ctrl.removeParameter($index)"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"
                     ng-show="ctrl.paramsString.length > 0">
                    <button class="btn btn-info " ng-click="ctrl.sendSearch()">
                        {{'searches.sendSearch'|translate}}
                    </button>
                </div>
                <div class="pull-right">
                    <uib-pagination boundary-links="true"
                                    total-items="ctrl.total"
                                    items-per-page="maxResultsPerPage"
                                    max-size="ctrl.maxSize"
                                    previous-text="&lsaquo;"
                                    next-text="&rsaquo;"
                                    first-text="&laquo;"
                                    last-text="&raquo;"
                                    rotate="false"
                                    ng-model="ctrl.currentPage">
                    </uib-pagination>
                </div>
            </div>
            <div class="panel-body"
                 ng-if="!ctrl.schedules">
                <div class="alert alert-success">
                    {{'searches.messages.init'|translate}}
                </div>
            </div>
            <div class="panel-body"
                 ng-if="ctrl.schedules && ctrl.schedules.length == 0">
                <div class="alert alert-info">
                    {{'searches.messages.noResults'|translate}}
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12"
                     ng-show="ctrl.schedules && ctrl.schedules.length > 0">
                    <div class="col-lg-12 text-right">
                        <span>{{'searches.showing'|translate}}</span>
                        <select id="cantItems"
                                ng-options="item.cant as item.cant for item in ctrl.opcLimit"
                                ng-model="maxResultsPerPage"></select>
                        <span>{{'searches.of'|translate}}</span>
                    </div>
                </div>
            </div>
            <table class="table table-hover dataTable table-responsive"
                   ng-show="ctrl.schedules && ctrl.schedules.length > 0">
                <thead>
                    <tr>
                        <th>{{'searches.schedules.group'|translate}}</th>
                        <th>{{'searches.schedules.facilitator'|translate}}</th>
                        <th>{{'searches.schedules.department'|translate}}</th>
                        <th>{{'searches.schedules.city'|translate}}</th>
                        <th>{{'searches.schedules.day'|translate}}</th>
                        <th>{{'searches.schedules.schedule'|translate}}</th>
                        <th>{{'searches.schedules.place'|translate}}</th>
                        <th>{{'searches.schedules.address'|translate}}</th>
                        <th>{{'searches.schedules.quota'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.filtered | startFrom:(ctrl.currentPage-1)*maxResultsPerPage | limitTo:maxResultsPerPage">
                        <td>{{item.SiglaGrupo}}</td>
                        <td>{{item.NombreFacilitador}}</td>
                        <td>{{item.NomDepartamento}}</td>
                        <td>{{item.NomMunicipio}}</td>
                        <td>{{item.Dia}}</td>
                        <td>{{item.Horario}}</td>
                        <td>{{item.Lugar}}</td>
                        <td>{{item.Direccion}}</td>
                        <td>{{item.CupoDisponible}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>