<article ng-init="ctrl.initialize()">
    <p ng-show="ctrl.response == 0"></p>
    <p ng-show="ctrl.response == 0" class="text-info text-right"><span class="text-danger">*</span> {{'requiredField'|translate}}</p>

    <div class="alert alert-warning"
         role="alert"
         ng-if="ctrl.response == 2">
        <h4>¡ Atención !</h4>
        <p>Ya respondiste la encuesta de satisfacción.</p>
        <p>Gracias por participar.</p>
    </div>

    <div class="alert alert-error"
         role="alert"
         ng-if="ctrl.response == 1">
        <div class="col-lg-12 text-center">
            <i class="fa fa-exclamation-triangle fa-6x"></i>
            <h2>Error de vínculo</h2>
            <h4>El vínculo ha caducado</h4>
            <h3>¡No tiene acceso a la página solicitada!</h3>

        </div>
    </div>

    <div class="panel panel-ps"
         ng-if="ctrl.response == 0">
        <div class="panel-heading">
            {{'feedback.module'|translate}}
        </div>
        <div class="panel-body">
            <!--<div class="alert alert-info">
                <h5>Apreciado participante:</h5>
                <p>
                    Te invitamos a responder la siguiente encuesta, con el fin de conocer lo que
                    piensas sientes y haces respecto a las Habilidades para la Vida. Lee
                    cuidadosamente cada pregunta y selecciona una respuesta que refleje tu
                    experiencia o con la que te identifiques.
                </p>
                <p>
                    Esta información será tratada de manera confidencial, agradecemos tu honestidad
                    y participación.
                </p>
            </div>-->
            <form name="form_encu" id="form_encu">
                <div ng-init="ctrl.initializeForm(form_encu)"></div>
                <!--<ol class="form-questions">
                    <li ng-repeat="question in ctrl.survey | filter:{TipoPregunta: 1}"
                        class="form-group has-feedback">
                        <label for="1poll_radio_question_1" class="control-label" style="white-space:normal">
                            {{question[0].DescripcionPregunta}} <span class="text-danger">*</span>
                        </label>
                        <div class="padding-top-20">
                            <div class="btn-group-vertical" style="width: 65vw;">
                                <label class="btn btn-left clearfix"
                                       for="1poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                       ng-repeat="answer in question"
                                       ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)"
                                       style="white-space:normal"
                                       role="button"
                                       tabindex="0">
                                    <input type="radio"
                                           class="col-md-1"
                                           name="1poll_radio_question_{{$parent.$index+1}}"
                                           id="1poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                           title="Selecciona la respuesta para la pregunta {{$parent.$index+1}}"
                                           required="">
                                    <span class="col-md-11">
                                        {{answer.DescripcionRespuesta}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="alert alert-info">
                    <p>
                        <b>CONOCIMIENTOS, ACTITUDES Y PRÁCTICAS:</b> Queremos hacerte algunas
                        preguntas acerca de lo que sabes, de cómo te sientes y te comportas en relación a las
                        habilidades para la vida.
                    </p>
                </div>
                <ol class="form-questions">
                    <li ng-repeat="question in ctrl.survey | filter:{TipoPregunta: 2}"
                        class="form-group has-feedback">
                        <label for="2poll_radio_question_1" class="control-label" style="white-space:normal">
                            {{question[0].DescripcionPregunta}} <span class="text-danger">*</span>
                        </label>
                        <div class="padding-top-20">
                            <div class="btn-group-vertical" style="width: 65vw;">
                                <label class="btn btn-left clearfix"
                                       for="2poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                       ng-repeat="answer in question"
                                       ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)"
                                       style="white-space:normal"
                                       role="button"
                                       tabindex="0">
                                    <input type="radio"
                                           class="col-md-1"
                                           name="2poll_radio_question_{{$parent.$index+1}}"
                                           id="2poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                           title="Selecciona la respuesta para la pregunta {{$parent.$index+1}}"
                                           required="">
                                    <span class="col-md-7">
                                        {{answer.DescripcionRespuesta}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ol>-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="alert alert-info">
                            <p>
                                Apreciado(a) participante, es muy importante que los proyectos que realizamos cumplan tus
                                expectativas, por eso tus aportes son de gran valor para nosotros. Te invitamos a expresar tu
                                opinión frente a las cosas que hacemos, agradecemos tu sinceridad al responder el siguiente
                                cuestionario:
                            </p>
                            <p>
                                Responde SI o NO de acuerdo a tu opinión frente a las siguientes afirmaciones
                            </p>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="text-center col-md-7">Pregunta</th>
                                <th class="text-center">SÍ</th>
                                <th class="text-center">NO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="question in ctrl.survey | filter:{TipoPregunta: 5}"
                                class="form-group has-feedback">
                                <th class="text-center">{{$index+1}}</th>
                                <td for="3poll_radio_question_1" class="control-label" style="white-space:normal">
                                    {{question[0].DescripcionPregunta}}*
                                </td>
                                <td style="padding: 0; vertical-align: middle;"
                                    ng-repeat="answer in question">
                                    <label class="text-center"
                                           for="3poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                           ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)"
                                           style="white-space:normal; width: 100%;"
                                           role="button"
                                           tabindex="0">
                                        <input type="radio"
                                               name="3poll_radio_question_{{$parent.$index+1}}"
                                               id="3poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                               title="Selecciona la respuesta para la pregunta {{$parent.$index+1}}"
                                               required="">
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" feedback>
                        <label>Escribe las recomendaciones que permitan mejorar la participación.</label>
                        <textarea class="form-control vresize"
                                  ng-model="ctrl.comments"
                                  ng-required="true"></textarea>
                    </div>
                    <div class="form-group" feedback>
                        <label>¿Qué has aprendido hasta el momento por medio de esta experiencia?</label>
                        <textarea class="form-control vresize"
                                  ng-model="ctrl.comments2"
                                  ng-required="true"></textarea>
                    </div>
                </div>
                <!--<div class="panel panel panel-default">
                    <div class="panel-body">
                        <div class="alert alert-info">
                            <p>
                                Selecciona la casilla que corresponda según consideres para cada afirmación, de
                                acuerdo a la siguiente escala:
                            </p>
                            <p>Siempre, casi siempre, algunas veces o nunca.</p>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="text-center col-md-7">Pregunta</th>
                                <th class="text-center">Siempre</th>
                                <th class="text-center">Casi siempre</th>
                                <th class="text-center">Algunas veces</th>
                                <th class="text-center">Nunca</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="question in ctrl.survey | filter:{TipoPregunta: 4}"
                                class="form-group has-feedback">
                                <th class="text-center">{{$index+1}}</th>
                                <td for="4poll_radio_question_1" class="control-label" style="white-space:normal">
                                    {{question[0].DescripcionPregunta}}*
                                </td>
                                <td ng-repeat="answer in question" style="padding: 0; vertical-align: middle;">
                                    <label class="text-center"
                                           for="4poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                           ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)"
                                           style="white-space:normal; width: 100%;"
                                           role="button"
                                           tabindex="0">
                                        <input type="radio"
                                               name="4poll_radio_question_{{$parent.$index+1}}"
                                               id="4poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                               title="Selecciona la respuesta para la pregunta {{$parent.$index+1}}"
                                               required="">
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->
                <div ng-if="!ctrl.isValidForm()">
                    <span class="col-sm-12 alert alert-danger ng-binding">
                        Aún faltan preguntas por contestar de la encuesta.
                    </span>
                </div>
            </form>
            <!--<form name="form" id="form">
                <div ng-init="ctrl.initializeForm(form)"></div>
                <ol class="form-questions">
                    <li ng-repeat="question in ctrl.survey"
                        class="form-group has-feedback">
                        <label for="poll_radio_question_1" class="control-label">
                            {{question[0].DescripcionPregunta}}<span class="text-danger">*</span> :
                        </label>
                        <div class="padding-top-20">
                            <div class="btn-group-vertical" data-toggle="buttons">
                                <label class="btn btn-default"
                                       ng-repeat="answer in question"
                                       ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)">
                                    <input type="radio"
                                           name="poll_radio_question_{{$parent.$index+1}}"
                                           id="poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                           title="Selecciona la respuesta para la pregunta {{$parent.$index+1}}"
                                           required>
                                    {{answer.LetraPregunta}}
                                </label>
                            </div>
                            <div class="btn-group-vertical">
                                <label class="btn btn-left"
                                       for="poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                       ng-repeat="answer in question"
                                       ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)">
                                    {{answer.DescripcionRespuesta}}
                                </label>
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="col-lg-12">
                    <div class="form-group" feedback>
                        <label>{{'feedback.comments'|translate}}</label>
                        <textarea class="form-control vresize"
                                  ng-model="ctrl.comments"></textarea>
                    </div>
                </div>
                <div ng-if="!ctrl.isValidForm(3)">
                    <span class="col-sm-12 alert alert-danger">
                        {{'feedback.incomplete'|translate}}
                    </span>
                </div>
            </form>-->
        </div>
        <div class="panel-footer clearfix">

            <button class="btn btn-success pull-right"
                    ng-disabled="!ctrl.isValidForm()"
                    ng-click="ctrl.submit()">
                {{'feedback.submit'|translate}}
            </button>
        </div>
    </div>
</article>