<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="HPV" connectionString="User Id=HPV;Password=HPv;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.20.2.104)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = DBPROSPERIDADSOCIAL) ) )" providerName="System.Data.SqlClient" />-->
    <add name="HPV" connectionString="User Id=HPV;Password=HPV;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = LOCALHOST)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = XE) ) )" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="pathDocument" value="c:/docHPV" />
    <add key="pathLog" value="c:/logHPV" />
    <add key="enableLog" value="true" />
    <add key="pathEmail" value="c:/emailHPV" />
    <add key="pathPlantilla" value="c:/plantillaHPV" />
    <add key="pathTemp" value="c:/tempHPV" />
    <add key="EncuEntrada" value="14" />




  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HPV_Servicios.Alistamiento.HPVServiciosAli_JSON">
        <endpoint address="../HPVServiciosAli_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.Alistamiento.IHPVServiciosAli_JSON" />
      </service>
      <service name="HPV_Servicios.General.HPVServiciosGen_JSON">
        <endpoint address="../HPVServiciosGen_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.General.IHPVServiciosGen_JSON" />
      </service>
      <service name="HPV_Servicios.AdmUsuario.HPVServiciosAdmUsuario_JSON">
        <endpoint address="../HPVServiciosAdmUsuario_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.AdmUsuario.IHPVServiciosAdmUsuario_JSON" />
      </service>
      <service name="HPV_Servicios.AdmRol.HPVServiciosAdmRol_JSON">
        <endpoint address="../HPVServiciosAdmRol_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.AdmRol.IHPVServiciosAdmRol_JSON" />
      </service>
      <service name="HPV_Servicios.AdmEspacioFisico.HPVServiciosAdmEspacioFisico_JSON">
        <endpoint address="../HPVServiciosAdmEspacioFisico_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.AdmEspacioFisico.IHPVServiciosAdmEspacioFisico_JSON" />
      </service>
      <service name="HPV_Servicios.Asistencia.HPVServiciosAsistencia_JSON">
        <endpoint address="../HPVServiciosAsistencia_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.Asistencia.IHPVServiciosAsistencia_JSON" />
      </service>
      <service name="HPV_Servicios.Consulta.HPVServiciosConsulta_JSON">
        <endpoint address="../HPVServiciosConsulta_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.Consulta.IHPVServiciosConsulta_JSON" />
      </service>
      <service name="HPV_Servicios.HistoriaVida.HPVServiciosHistoriaVida_JSON">
        <endpoint address="../HPVServiciosHistoriaVida_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.HistoriaVida.IHPVServiciosHistoriaVida_JSON" />
      </service>
      <service name="HPV_Servicios.CasosDeExito.HPVServiciosCasosDeExito_JSON">
        <endpoint address="../HPVServiciosCasosDeExito_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.CasosDeExito.IHPVServiciosCasosDeExito_JSON" />
      </service>
      <service name="HPV_Servicios.Liderazgo.HPVServiciosLiderazgo_JSON">
        <endpoint address="../HPVServiciosLiderazgo_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.Liderazgo.IHPVServiciosLiderazgo_JSON" />
      </service>
      <service name="HPV_Servicios.AdmParametro.HPVServiciosAdmParametro_JSON">
        <endpoint address="../HPVServiciosAdmParametro_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.AdmParametro.IHPVServiciosAdmParametro_JSON" />
      </service>
      <service name="HPV_Servicios.Reportes.HPVServiciosReportes_JSON">
        <endpoint address="../HPVServiciosReportes_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.Reportes.IHPVServiciosReportes_JSON" />
      </service>
      <service name="HPV_Servicios.FechaCorte.HPVServiciosFechaCorte_JSON">
        <endpoint address="../HPVServiciosFechaCorte_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.FechaCorte.IHPVServiciosFechaCorte_JSON" />
      </service>
      <service name="HPV_Servicios.Sistematizacion.HPVServiciosSistematizacion_JSON">
        <endpoint address="../HPVServiciosSistematizacion_JSON.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="HPV_Servicios.Sistematizacion.IHPVServiciosSistematizacion_JSON" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true" />

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <!--standardEndpoints>
     <webScriptEndpoint>
     <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
     </webScriptEndpoint>
     </standardEndpoints-->

    <!--protocolMapping>
        <add binding="webHttpBinding" scheme="http" />
    </protocolMapping-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization" />
      </customHeaders>



    </httpProtocol>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
