<article ng-init="sysListUpCtrl.init()">
    <div class="panel panel-default panel-ps dataTables_wrapper">
        <div class="panel-heading">
            <h3 class="panel-title">{{'systematization.panelTitle'|translate}}</h3>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading clearfix">
                <div class="col-lg-3 clearfix">
                    <label class="control-label"
                           for="search">{{'systematization.search'|translate}}</label>
                    <input class="form-control"
                           id="search"
                           type="text"
                           placeholder="{{'systematization.search'|translate}}"
                           ng-model="search"
                           ng-blur="sysListAdmCtrl.submitSearch()" />
                </div>
                <div class="col-lg-4 clearfix">
                    <label class="control-label"
                           for="sysType">{{'systematization.type'|translate}}</label>
                    <select class="form-control"
                            id="sysType"
                            placeholder="{{'systematization.type'|translate}}"
                            ng-model="sysListUpCtrl.selectedInst"
                            ng-change="sysListUpCtrl.submitSearch()"
                            ng-options="item.Valor as item.Descripcion for item in sysListUpCtrl.instruments"></select>
                </div>
                <div class="pull-right">
                    <uib-pagination boundary-links="true"
                                    total-items="sysListUpCtrl.total"
                                    items-per-page="maxResultsPerPage"
                                    max-size="sysListUpCtrl.maxSize"
                                    previous-text="&lsaquo;"
                                    next-text="&rsaquo;"
                                    first-text="&laquo;"
                                    last-text="&raquo;"
                                    rotate="false"
                                    ng-model="sysListUpCtrl.currentPage">
                    </uib-pagination>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-lg-12 text-right">
                        <span>{{'systematization.showing'|translate}}</span>
                        <select id="cantItems"
                                ng-options="item.cant as item.cant for item in sysListUpCtrl.opcLimit"
                                ng-model="maxResultsPerPage"></select>
                        <span>{{'systematization.of'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="alert alert-info"
                 ng-show="!sysListUpCtrl.sysList">
                {{'lifeStory.loading'|translate}}

            </div>
            <div class="alert alert-warning"
                 ng-show="sysListUpCtrl.sysList && sysListUpCtrl.sysList.length == 0">
                {{'systematization.noDataFound'|translate}}
            </div>
            <table class="table table-hover dataTable"
                   ng-show="sysListUpCtrl.sysList.length > 0">
                <thead>
                    <tr>
                        <th>{{'systematization.dpto'|translate}}</th>
                        <th>{{'systematization.city'|translate}}</th>
                        <th>{{'systematization.facilitator'|translate}}</th>
                        <th>{{'systematization.participant'|translate}}</th>
                        <th>Instrumento</th>
                        <th>{{'systematization.group'|translate}}</th>
                        <th>{{'systematization.state'|translate}}</th>
                        <th>{{'systematization.detail'|translate}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in sysListUpCtrl.filtered | startFrom:(sysListUpCtrl.currentPage-1)*maxResultsPerPage | limitTo:maxResultsPerPage">
                    <tr ng-class="{'success':item.IdEstado=='A','warning':item.IdEstado=='P', 'danger':item.IdEstado=='R', 'info':item.IdEstado=='S'}">
                        <td>{{item.NomDepartamento}}</td>
                        <td>{{item.NomMunicipio}}</td>
                        <td>{{item.NomFacilitador}}</td>
                        <td>{{item.NomInscrito}}</td>
                        <td>{{item.NomInstrumento}}</td>
                        <td>{{item.SiglaGrupo}}</td>
                        <td>{{item.NomEstado}}</td>
                        <td>
                            <a href=""
                               ng-click="sysListUpCtrl.goToSystematization(item.Id)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer clearfix">
                <div class="col-lg-12">
                    <div class="btn btn-success pull-right"
                         ng-click="sysListUpCtrl.createSystematization()">
                        {{'systematization.new'|translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
