<article ng-init="sysDetAdmCtrl.init()">
    <form id="form"
          name="form">
        <div class="col-lg-12"
             style="padding-left:0px; padding-right:0px;"
             ng-init="sysDetAdmCtrl.initForm(form)">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="state" class="blueLabel">Estado</label>
                        <input class="form-control"
                               id="state"
                               name="state"
                               ng-value="sysDetAdmCtrl.sys.NomEstado"
                               ng-disabled="true">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="rejectReason" class="blueLabel">Motivo de rechazo</label>
                        <textarea class="form-control vresize"
                                  name="rejectReason"
                                  ng-required="true"
                                  ng-model="sysDetAdmCtrl.sys.MotivoRechazo">
                        </textarea>
                        <span name="error_feedback" class="hidden glyphicon form-control-feedback glyphicon-remove"></span>
                        <span name="success_feedback" class="hidden glyphicon form-control-feedback glyphicon-ok"></span>
                        <div class="validation-messages"
                             ng-messages="form.instrument.$error"
                             ng-if="form.instrument.$touched">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group" feedback>
                    <label for="storyType" class="blueLabel">Instrumento</label>
                    <input class="form-control"
                           id="storyType"
                           name="storyType"
                           ng-value="sysDetAdmCtrl.sys.NomInstrumento"
                           ng-disabled="true">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group" feedback>
                    <label for="group" class="blueLabel">Grupo</label>
                    <input class="form-control"
                           id="group"
                           name="group"
                           ng-value="sysDetAdmCtrl.sys.SiglaGrupo"
                           ng-disabled="true">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group" feedback>
                    <label for="participant" class="blueLabel">Inscrito</label>
                    <input class="form-control"
                           id="participant"
                           name="participant"
                           ng-value="sysDetAdmCtrl.sys.NomInscrito"
                           ng-disabled="true">
                </div>
            </div>
            <div class="col-lg-12 form-group">
                <button class="btn btn-info"
                        ng-click="sysDetAdmCtrl.seeDocument()">
                    Ver documento del instrumento
                </button>
            </div>
        </div>
        <div>
            <button class="btn btn-success pull-right"
                    type="submit"
                    ng-if="sysDetAdmCtrl.sys.IdEstado != 'S'"
                    ng-click="sysDetAdmCtrl.accept()">
                Aceptar
            </button>
            <button class="btn btn-danger pull-right"
                    type="submit"
                    ng-if="sysDetAdmCtrl.sys.IdEstado != 'S'"
                    ng-click="sysDetAdmCtrl.reject()">
                Rechazar
            </button>
        </div>
        <div>
            <button class="btn btn-warning"
                    ng-click="sysDetAdmCtrl.goBack()">
                Volver
            </button>
        </div>
    </form>
</article>