<article ng-init="ctrl.initialize()">
    <p ng-show="ctrl.response == 0" translate="finalSurvey.description" translate-compile></p>
    <p ng-show="ctrl.response == 0" class="text-info text-right"><span class="text-danger">*</span> {{'requiredField'|translate}}</p>

    <div class="panel panel-ps">
        <div class="panel-heading">
            {{'finalSurvey.module'|translate}}
        </div>
        <div class="panel-body">
            <form name="form" id="form">
                <div ng-init="ctrl.initializeForm(form)"></div>
                <ol class="form-questions">
                    <li ng-repeat="question in ctrl.survey"
                        class="form-group has-finalSurvey">
                        <label for="poll_radio_question_1" class="control-label">
                            {{question[0].DescripcionPregunta}}<span class="text-danger">*</span> :
                        </label>
                        <div class="padding-top-20">
                            <div class="btn-group-vertical" data-toggle="buttons">
                                <label class="btn btn-default"
                                       ng-repeat="answer in question"
                                       ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)">
                                    <input type="radio"
                                           name="poll_radio_question_{{$parent.$index+1}}"
                                           id="poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                           title="Selecciona la respuesta para la pregunta {{$parent.$index+1}}"
                                           required>
                                    {{answer.LetraPregunta}}
                                </label>
                            </div>
                            <div class="btn-group-vertical">
                                <label class="btn btn-left"
                                       for="poll_radio_question_{{$parent.$index+1}}_{{$index+1}}"
                                       ng-repeat="answer in question"
                                       ng-click="ctrl.saveAnswer(answer.CodigoPregunta,answer)">
                                    {{answer.DescripcionRespuesta}}
                                </label>
                            </div>
                        </div>
                    </li>
                </ol>
                <div ng-if="!ctrl.isValidForm(3)">
                    <span class="col-sm-12 alert alert-danger">
                        {{'finalSurvey.incomplete'|translate}}
                    </span>
                </div>
            </form>
        </div>
        <div class="panel-footer clearfix">

            <button class="btn btn-success pull-right"
                    ng-disabled="!ctrl.isValidForm()"
                    ng-click="ctrl.submit()">
                {{'finalSurvey.submit'|translate}}
            </button>
        </div>
    </div>
</article>